* {
	margin: 0;
	box-sizing: border-box;
}

.romy-carousel {
	--v-carousel-width: min(80vw, 50em);
	background-color: #C38391;
	padding-block: 5rem;
	font-family: monospace;

	h2 {
		font-size: 2.5em;
		text-align: center;
		margin-bottom: 2rem;
	}

	h4 {
		color: #C38391;
		font-size: 1.5em;
		margin-block: .5rem;
		letter-spacing: .5rem;
		text-transform: uppercase;
		text-shadow:
			-2px -2px 0 #000,
			2px -2px 0 #000,
			-2px 2px 0 #000,
			2px 2px 0 #000,
			-3px 0px 0 #000,
			3px 0px 0 #000,
			0px -3px 0 #000,
			0px 3px 0 #000;
	}

	p {
		font-size: 1.1em;
		padding-inline: 1rem;
		color: #93B7BE;
	}

	ul {
		padding: 0;
		width: var(--v-carousel-width);
		margin-inline: auto;
		display: flex;
		gap: 2rem;
		overflow-x: scroll;
		scroll-behavior: smooth;
		anchor-name: --romy-carousel;
		scroll-snap-type: x mandatory;
		scroll-marker-group: after;

		&::scroll-marker-group {
			margin-block: .5em;
			display: flex;
			justify-content: center;
			gap: .5em;
		}

		&::scroll-button(right), 
		&::scroll-button(left) {
			margin-block: 1rem;
			content: "→" / "Scroll Right";
			cursor: pointer;
			border-radius: 50%;
			border: 3px solid white;
			color: white;
			background-color: #B66879;
			font-size: 2rem;
			padding-bottom: .5rem;
			position: fixed;
			position-anchor: --romy-carousel;
			position-area: right center;
			translate: -25%;
		}

		&::scroll-button(left) {
			content: "←" / "Scroll Left";
			position-area: left center;
			translate: 25%;
		}

		&::scroll-button(right):disabled, 
		&::scroll-button(left):disabled {
			cursor: not-allowed;
			background-color: #93B7BE;
		}

		&::before, 
		&::after {
			content: '';
			flex: 0 0 calc(var(--v-carousel-width) / 2);
			display: block;
		}
	}

	::-webkit-scrollbar {
		display: none;
	}

	li {
		flex: 0 0 calc(var(--v-carousel-width) / 2);
		aspect-ratio: 1/2;
		max-height: 50vh;
		list-style-type: none;
		text-align: center;
		background: grey;
		border: 2px solid black;
		border-radius: .5rem;
		scroll-snap-align: center;
	}

	li::scroll-marker {
		display: inline-block;
		content: '';
		height: 1em;
		width: 1em;
		background-color: #93B7BE;
		border-radius: 50%;
	}

	li::scroll-marker:target-current {
		background-color: #454545;
	}

	figure {
		display: grid;
		border-radius: inherit;
		height: 100%;

		> * {
			grid-row-start: 1;
			grid-column-start: 1;
			border-radius: inherit;
		}

		> figcaption {
			padding-bottom: .5rem;
			background: linear-gradient(to top, #454545, 75%, transparent);
			align-self: end;
		}

		> picture {
			height: 100%;
		}
		
		> picture > img {
			width: 100%;
			height: auto;
			max-height: 49vh;
			border-radius: inherit;
			object-fit: cover;
		}
	}
}
#alisha ul  {
    block-size: 100svh;
    inline-size: 100cqi;
    overflow-x: hidden;
	overflow-y: auto;
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    place-self: center start;
    gap: 4px;
	anchor-name: --carousel;
	scroll-marker-group: before;
	scroll-snap-type: y mandatory;
}

#alisha ul::scroll-marker-group {
	display: flex;
	align-items: start;
	flex-direction: column;
}

#alisha ul::before,
#alisha ul::after {
    content: "";
    display: block;
    block-size: 20cqb;
}

#alisha ul > li img {
    white-space: nowrap;
    font-family: var(--font-antique);
    font-size: var(--font-size-5);
    transition: scale 1s var(--ease-spring-4);
    transform-origin: right center;
    animation: wheel-rotate linear both;
    animation-timeline: view();
    animation-range: contain 0% contain 106%;
}

#alisha li {
    padding: 0;
	list-style: none;
    scroll-snap-align: center;
    text-align: end;
    block-size: 20svb;

}

#alisha li::scroll-marker {
	content: " ";
	border-radius: 10px;
	margin: 10px;
	border: 1px solid rgb(0, 12, 82);
	height: 1em;
	width: 1em;
}

#alisha ::scroll-marker:target-current {
  background: rgb(0, 12, 82);
}

@keyframes wheel-rotate {
    0% {
		scale: 0.5;
    	transform: translateX(150px) rotate(-15deg);
    }
    50% {
      	transform: translateX(0px) rotate(0deg);
    }
    100% {
		scale: 1;
		transform: translateX(150px) rotate(5deg);
    }
}


.scroll-wrapper {

body {
    height: 90dvh;
}


ul {
    perspective: 1000000px;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;        
    /* /* source https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll */ 
        aspect-ratio: 9 / 16;
        list-style-type: none;
        /* source https://nerdy.dev/notebook/scroll-driven-animations.html#entrances */
		
}



li {
    height: 25vh;
    width: auto;
    box-sizing: border-box;
    flex: 0 0 auto;
    transition: .3s;
    list-style-type: none;

}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


  @keyframes rotate-z {
    from {
      transform: rotateZ(-5turn);
    }
  }
  ul {
        & li {
            animation: rotate-z linear both;
            animation-timeline: view();
            animation-range: entry 0% entry 100%;
        }
    }
    
@media (prefers-reduced-motion: no-preference) {
    ul {
        & li {
            animation: rotate-z linear both;
            animation-timeline: view();
            animation-range: entry 0% entry 100%;
        }
    }
}
}