*, *::before, *::after {
	box-sizing: border-box;
}

.romy-carousel {
	--v-carousel-width: min(80vw, 50em);
	background-color: #C38391;
	padding-block: 5rem;
	font-family: monospace;

	h2 {
		font-size: 2.5em;
		text-align: center;
		margin-bottom: 2rem;
	}

	h4 {
		color: #C38391;
		font-size: 1.5em;
		margin-block: .5rem;
		letter-spacing: .5rem;
		text-transform: uppercase;
		text-shadow:
			-2px -2px 0 #000,
			2px -2px 0 #000,
			-2px 2px 0 #000,
			2px 2px 0 #000,
			-3px 0px 0 #000,
			3px 0px 0 #000,
			0px -3px 0 #000,
			0px 3px 0 #000;
	}

	p {
		font-size: 1.1em;
		padding-inline: 1rem;
		color: #93B7BE;
	}

	ul {
		padding: 0;
		width: var(--v-carousel-width);
		margin-inline: auto;
		display: flex;
		gap: 2rem;
		overflow-x: scroll;
		scroll-behavior: smooth;
		anchor-name: --romy-carousel;
		scroll-snap-type: x mandatory;
		scroll-marker-group: after;

		&::scroll-marker-group {
			margin-block: .5em;
			display: flex;
			justify-content: center;
			gap: .5em;
		}

		&::scroll-button(right),
		&::scroll-button(left) {
			margin-block: 1rem;
			content: "→" / "Scroll Right";
			cursor: pointer;
			border-radius: 50%;
			border: 3px solid white;
			color: white;
			background-color: #B66879;
			font-size: 2rem;
			padding-bottom: .5rem;
			position: fixed;
			position-anchor: --romy-carousel;
			position-area: right center;
			translate: -25%;
		}

		&::scroll-button(left) {
			content: "←" / "Scroll Left";
			position-area: left center;
			translate: 25%;
		}

		&::scroll-button(right):disabled,
		&::scroll-button(left):disabled {
			cursor: not-allowed;
			background-color: #93B7BE;
		}

		&::before,
		&::after {
			content: '';
			flex: 0 0 calc(var(--v-carousel-width) / 2);
			display: block;
		}
	}

	::-webkit-scrollbar {
		display: none;
	}

	li {
		flex: 0 0 calc(var(--v-carousel-width) / 2);
		aspect-ratio: 1/2;
		max-height: 50vh;
		list-style-type: none;
		text-align: center;
		background: grey;
		border: 2px solid black;
		border-radius: .5rem;
		scroll-snap-align: center;
	}

	li::scroll-marker {
		display: inline-block;
		content: '';
		height: 1em;
		width: 1em;
		background-color: #93B7BE;
		border-radius: 50%;
	}

	li::scroll-marker:target-current {
		background-color: #454545;
	}

	figure {
		display: grid;
		border-radius: inherit;
		height: 100%;

		> * {
			grid-row-start: 1;
			grid-column-start: 1;
			border-radius: inherit;
		}

		> figcaption {
			padding-bottom: .5rem;
			background: linear-gradient(to top, #454545, 75%, transparent);
			align-self: end;
		}

		> picture {
			height: 100%;
		}

		> picture > img {
			width: 100%;
			height: auto;
			max-height: 49vh;
			border-radius: inherit;
			object-fit: cover;
		}
	}
}
#alisha ul  {
    block-size: 100svh;
    inline-size: 100cqi;
    overflow-x: hidden;
	overflow-y: auto;
    display: grid;
    grid-auto-flow: row;
    justify-content: start;
    place-self: center start;
    gap: 4px;
	anchor-name: --carousel;
	scroll-marker-group: before;
	scroll-snap-type: y mandatory;
}

#alisha ul::scroll-marker-group {
	display: flex;
	align-items: start;
	flex-direction: column;
}

#alisha ul::before,
#alisha ul::after {
    content: "";
    display: block;
    block-size: 20cqb;
}

#alisha ul > li img {
    white-space: nowrap;
    font-family: var(--font-antique);
    font-size: var(--font-size-5);
    transition: scale 1s var(--ease-spring-4);
    transform-origin: right center;
    animation: wheel-rotate linear both;
    animation-timeline: view();
    animation-range: contain 0% contain 106%;
}

#alisha li {
    padding: 0;
	list-style: none;
    scroll-snap-align: center;
    text-align: end;
    block-size: 20svb;

}

#alisha li::scroll-marker {
	content: " ";
	border-radius: 10px;
	margin: 10px;
	border: 1px solid rgb(0, 12, 82);
	height: 1em;
	width: 1em;
}

#alisha ::scroll-marker:target-current {
  background: rgb(0, 12, 82);
}

@keyframes wheel-rotate {
    0% {
		scale: 0.5;
    	transform: translateX(150px) rotate(-15deg);
    }
    50% {
      	transform: translateX(0px) rotate(0deg);
    }
    100% {
		scale: 1;
		transform: translateX(150px) rotate(5deg);
    }
}

.braham-carousel {
	transition: all 0.3s ease-in-out;
	margin-bottom: 3rem;

	ul {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		/* width: 50vw; */
		width: 48em;
		height: 30em;
		margin: 0 auto;
		padding: 1em;
		gap: 1em;

		border-radius: 16px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;

		anchor-name: --carousel-braham;
		scroll-marker-group: after;
	}

	ul::-webkit-scrollbar {
		display: none;
	}

	ul::scroll-button(right) {
		content: 'right';
		height: 3em;
		width: 5em;
		border-radius: 8px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(5px);
		border: none;
		background: transparent;
		cursor: pointer;
		z-index: 11111;

		position: fixed;
		position-anchor: --carousel-braham;
		position-area: right center;
		translate: -50%;
	}

	ul::scroll-button(left):disabled, ul::scroll-button(right):disabled {
		pointer-events: none;
		opacity: 0.5;
		cursor: auto;
	}

	ul::scroll-button(left) {
		content: 'left';
		height: 3em;
		width: 5em;
		border-radius: 8px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(5px);
		border: none;
		background: transparent;
		cursor: pointer;
		z-index: 11111;

		position: fixed;
		position-anchor: --carousel-braham;
		position-area: left center;
		translate: 50%;
	}

	ul::scroll-button(left):hover, ul::scroll-button(right):hover {
		transform: scale(1.1);
		content: 'left 👈';
		font-size: 18px;
		font-weight: 900;
		width: 8em;
		height: 4em;
		translate: 10%;
		transition: all 0.2s ease-in-out;
	}

	ul::scroll-button(right):hover {
		content: 'right 👉';
		translate: -10%;
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		list-style: none;
		scroll-snap-align: center;
		scroll-snap-stop: always;
		counter-increment: markers;
		container-type: scroll-state;


		border-radius: 16px;
		margin-left: 3em;
		margin-right: 3em;

	}

	div {
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(135deg, #f84, #f98);
		width: 10em;
		height: 10em;
		border-radius: 16px;
		@container scroll-state(snapped: x) {
			/* position: absolute; */
			transform: scale(1.1);
			width: 35em;
			height: 20em;
		}
	}

	li:hover {
		transform: scale(1.1);
	}

	div:hover {
		box-shadow: 0 0 20px rgba(212, 150, 15, 0.6);
	}

	p {
		position: absolute;
		bottom: -40%;
		left: 0%;
		display: none;
		padding-left: 5px;

		@container scroll-state(snapped: x) {
			transform: scale(1.1);
			background-color: rgba(0, 0, 0, 0.6);
			border-radius: 4px;
			width: 80%;
			color: white;
			display: block;
			bottom: 0%;
			left: 10%;
		}
	}


	/* li:active {
		transform: scale(9);
	} */

	ul::scroll-marker-group {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1.5em;
	}

	li::scroll-marker {
		display: flex;
		align-items: center;
		justify-content: center;
		content: counter(markers);
		height: 1em;
		width: 1em;
		padding: 5px;
		text-decoration: none;
		color: white;
		background-color: transparent;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		border-radius: 50%;
	}

	li::scroll-marker:hover {
		transform: translateY(-30%);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	}

	li::scroll-marker:target-current {
		background-color: rgba(0, 0, 0, 1);
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
		transform: scale(1.5);
	}


	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 16px;
	}
}
